.container {
  border-top: 1px solid black;
}

.heading {
  padding: 16px 8px;
  display: flex;

  &.borderBottom {
    border-bottom: 1px solid black;
  }

  .icon {
    min-width: 8px;
    padding-right: 8px;
  }
}

.content {
  padding: 16px 8px 16px 24px;
  border-bottom: 1px solid black;  
}