@import "../../css/globals.scss";

.container {
  border-bottom: 1px solid $gray3;
}

.heading {
  border-top: 1px solid $gray3;
  
  &.inactive {
    color: $gray1;
    font-size: 18px;
    line-height: 23px;

    &:hover {
      color: $black;
      text-decoration: underline;
    }

    &.nested {
      color: $gray2;
      font-size: 16px;
      line-height: 20px;

      &:hover {
        color: $gray1;
        text-decoration: underline;
      }
    }
  }

  &.active {
    color: $gray1;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;

    &:hover {
      color: $black;
      text-decoration: underline;
    }

    &.nested {
      color: $gray2;
      font-size: 16px;
      line-height: 20px;

      &:hover {
        color: $gray1;
        text-decoration: underline;
      }
    }
  }
}

.content {
  color: $gray1;
  font-size: 15px;
  line-height: 19px;

  &.nested {
    color: $gray2;
    font-size: 14px;
    line-height: 18px;
  }
}
