@import "../../css/globals.scss";

.container {
  border-bottom: 1px solid $gray3;
}

.heading {
  border-top: 1px solid $gray3;
}

.active {
  color: $gray2;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
}

.active:hover {
  color: $gray4;
  text-decoration: underline;
}

.inactive {
  color: $gray2;
  font-size: 18px;
  line-height: 23px;
}

.inactive:hover {
  color: $gray4;
  text-decoration: underline;
}

.content {
  color: $gray2;
  font-size: 15px;
  line-height: 19px;
}
