@import "../../../../css/globals.scss";

.props-table {
  border-collapse: collapse;
  color: $gray2;

  thead {
    font-weight: bold;
  }

  td {
    border: 1px solid $gray3;
    padding: 8px;
  }

  tr:nth-child(even) {
    background-color: lightgray;
  }
}